@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Your custom styles can go here */

@import "tailwindcss";

/* :root{
  --primary-color:red;
} */
 @theme{
  --color-primary:oklch(68.5% 0.169 237.323);
  --font-display:"Manrope", sans-serif;
  --font-paaji:"Geist",sans-serif;
  --spacing-paaji-relaxed:4rem;
  
 }
 